:root {
	--bg:#fff;
	--color:#000;
	--svgFill:#191919;
	--a: #2917e4;
}

:root.dark {
	--bg:#17181c;
	--color:#d5dbdc;
	--svgFill:#eaeaea;
	--a: #809fff;
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-roboto);
	background-color: var(--bg);
	color: var(--color);
}

svg {
	fill: var(--svgFill);
}

body {
	margin: 0;
	padding: 0rem;
	line-height: 1.5;
}

a{
	color: var(--a);
}

@media print {
	html {
		background-color: #fff;
		color: #000;
	}

	body {
		margin: 0;
		padding: 0rem;
		line-height: 1.5;
	}

	.pagebrake {
		page-break-after: always;
	}
	.pagebrake + * {
		margin-top: 40px;
	}
}