.hero {
  grid-area: 1 / 1 / 2 / 3;
  aspect-ratio: 51/40;

  position: relative;
}

.hero > img {
    position: absolute;
    width : 100%;
}

.hero > div {
    position: absolute;
    width : calc(100% - 60px);
    background-color: #000000ce;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    bottom: 0;
}

.introCard h1{
  font-size: 15px;
  width: -moz-fit-content;
  width: fit-content;
}

.introCard h2{
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
}