.lightBoxGallery{
    /*background-color: #fff;
    background: linear-gradient(135deg, #c2c2c2 5%, #FFF);
    padding: 10px;
  
    box-shadow: 2px 2px 6px #888888;
    border-radius: 4px;*/
}

.lightBoxGallery h2{
    font-size: 1.0rem;    
}

.lightBoxGalleryImages{
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.lightBoxGalleryImages span{
    max-width: 250px;
    margin: 5px;
    background: rgb(25,29,48);    
    background: linear-gradient(0deg, rgba(25,29,48,1) 0%, rgba(27,31,50,1) 10%, rgba(30,35,53,1) 20%, rgba(33,40,57,1) 30%, rgba(36,45,61,1) 40%, rgba(37,50,63,1) 50%, rgba(36,53,63,1) 60%, rgba(34,51,59,1) 70%, rgba(30,45,50,1) 80%, rgba(25,36,40,1) 90%, rgba(19,26,32,1) 100%);
    box-shadow: 2px 2px 6px #888888;
    cursor: zoom-in;
}