.navBar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background: rgb(25,29,48);    
    background: linear-gradient(0deg, rgba(25,29,48,1) 0%, rgba(27,31,50,1) 10%, rgba(30,35,53,1) 20%, rgba(33,40,57,1) 30%, rgba(36,45,61,1) 40%, rgba(37,50,63,1) 50%, rgba(36,53,63,1) 60%, rgba(34,51,59,1) 70%, rgba(30,45,50,1) 80%, rgba(25,36,40,1) 90%, rgba(19,26,32,1) 100%);

    overflow-x: hidden;
    padding-top: 20px;
    
    text-align: center;
  }
  
  .navBar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .navBar a:hover {
    color: #f1f1f1;
  }

@media print {
  .navBar{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navBar{
    width: 100%;  
    padding: 5px;
    height: auto;
    background: linear-gradient(90deg, rgba(25,29,48,1) 0%, rgba(27,31,50,1) 10%, rgba(30,35,53,1) 20%, rgba(33,40,57,1) 30%, rgba(36,45,61,1) 40%, rgba(37,50,63,1) 50%, rgba(36,53,63,1) 60%, rgba(34,51,59,1) 70%, rgba(30,45,50,1) 80%, rgba(25,36,40,1) 90%, rgba(19,26,32,1) 100%);
    text-align: left;
  }

  .navBar svg{
    vertical-align: middle
  }
}