---
import HeaderBarAvatar from '../components/HeaderBarAvatar.astro';
import HeaderBarInfo from '../components/HeaderBarInfo.astro';

import DarkModeToggle from './DarkModeToggle.astro';

const ePages = Object.freeze({
	Projects:"Projects",
	Cv:  "Cv",
});
 
const {page } = Astro.props;
const currentPage = page === "cv" ? ePages.Cv : ePages.Projects;
---
<style>
	.headerBar {
		position: fixed;
		inset: 0 auto auto 0;
		background: linear-gradient(0deg, #191d30, #1b1f32 10%, #1e2335 20%, #212839 30%, #242d3d 40%, #25323f 50%, #24353f 60%, #22333b 70%, #1e2d32 80%, #192428 90%, #131a20);
		height: 100%;			  
		width: 180px;
		z-index: 1;
		color: #eaeaea;
		font-weight: 500;

		padding: 10px;

		display: flex;
		flex-direction: column;
	}

	.title {
		margin: 10px 0;
	}
	.title * {
		margin: 0;
		padding: 0;
	}
	.title h2{
		font-size: 1.4rem;
	}
	.title h3{
		font-size: 1rem;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	
	}

	hr{
		width: 50px;
	}

	.headerText {
		display: flex;
		flex-direction: column;
	}

	.currentPage{
		background-color: #f0f8ff26;
		border-radius: 5px;
		padding: 5px 15px 5px 5px;
	}

	.darkModeToggle{
		margin-bottom: auto;
		align-self: center;

		display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
	}

	.hideSmall{ display: block;}
	.showSmall{ display: none;}

@media screen and (max-width: 600px) {
	.headerBar {
		width: 100%;  
		padding: 5px;
		height: auto;
		background: linear-gradient(90deg, rgba(25,29,48,1) 0%, rgba(27,31,50,1) 10%, rgba(30,35,53,1) 20%, rgba(33,40,57,1) 30%, rgba(36,45,61,1) 40%, rgba(37,50,63,1) 50%, rgba(36,53,63,1) 60%, rgba(34,51,59,1) 70%, rgba(30,45,50,1) 80%, rgba(25,36,40,1) 90%, rgba(19,26,32,1) 100%);
		text-align: left;
		
		flex-direction: row;
	}

	.title {
		margin: 0 0 0 5px;
	}

	hr{
		display: none;
	}

	.darkModeToggle{
        display: block;
		position: absolute;
        inset: 5px 5px auto auto;
	}

	nav{
		margin: 0 0 0 5px;
		flex: 1;
		align-items: center;

		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	.hideSmall{ display: none;}
	.showSmall{ display: block;}
}

@media print {
	.headerBar{
		display: none;
	}
}
</style>

<div class="headerBar">
	<HeaderBarAvatar />
	<div class="headerText">
		<div class="title">
			<h2>Robert Walker</h2>
			<h3>Software Engineer</h3>
		</div>
		<HeaderBarInfo icon="codeLaptop" class="hideSmall">
			<ul>
				<li> Full stack web </li>
				<li> Desktop </li>
				<li> Moblie </li>	   
			</ul>
		</HeaderBarInfo>
		<nav>
			<HeaderBarInfo icon="locationDot" link="https://www.google.com/maps/place/Sheffield" class="hideSmall">			
				Sheffield , UK
			</HeaderBarInfo>
			<HeaderBarInfo icon="github" link="https://github.com/TeaPoweredCode" class="orderSmall">
					<div class="hideSmall">TeaPoweredCode</div>
					<div class="showSmall">GitHub</div>				
			</HeaderBarInfo>
			<hr>
			<HeaderBarInfo icon="projects" link="/projects" currentPage={currentPage == ePages.Projects}>
				Projects
			</HeaderBarInfo>
			<HeaderBarInfo icon="cv" link="/cv" currentPage={currentPage == ePages.Cv}>
				Cv
			</HeaderBarInfo>
		</nav>
	</div>
	<div class="darkModeToggle">
		<DarkModeToggle/>
	</div>
</div>