---
import HeaderBarIcon from "./HeaderBarIcon.astro";

const { icon , link , class: className , currentPage } = Astro.props;
const isExternal = /^https?:\/\//.test(link);
---
<style>
	div{
		display: flex;
		flex-direction: row;
		gap: 5px;
		margin-bottom: 10px;
		vertical-align: middle;
	}
	a {
		display: flex;
		align-items: center;
		gap: 5px;

		color: #eaeaea;
		text-decoration: none;
	}
	.currentPage{
		background-color: #f0f8ff26;
		border-radius: 5px;
		padding: 5px 15px 5px 5px;
	}

@media screen and (max-width: 600px) {
	.hideSmall{
		display: none;
	}
	.orderSmall{
		order: 8;
	}
	.orderSmall::before {
		content: "|";
	}
}
</style>

<div class={className} >
	{link ? 
		<a href={link} target={isExternal ? "_blank" : undefined} rel={isExternal ? "noopener noreferrer" : undefined} class={currentPage ? "currentPage" : undefined}>
			<HeaderBarIcon icon={icon} />
			<slot />
		</a>
		:
		<HeaderBarIcon icon={icon} />
		<slot />
	}
</div>