---
import { Image } from 'astro:assets';
import bannerImage from '../images/project_images/right-click-raid/RightClickRaid-bannerMini.png';
---
<style>
    .banner{
        height: 280px;
        width: 100%;
        margin: 20px 0;
        background-color: #a970ff;
        overflow: hidden;
        position: relative;
    }

    .bannerText{
        font-size: 64px;
        line-height: normal;
        color: #b17eff;
        transform: translate(-140px, -20px);
        text-wrap: nowrap;
        user-select: none;
    }

    img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
</style>

<div class="banner">
    <div class="bannerText">            
        <div>right-click-raid right-click-raid right-click-raid right-click-raid right-click-raid</div>
        <div>click-raid right-click-raid right-click-raid right-click-raid right-click-raid right-</div>
        <div>raid right-click-raid right-click-raid right-click-raid right-click-raid right-click-</div>
        <div>right-click-raid right-click-raid right-click-raid right-click-raid right-click-raid</div>
    </div>
    <Image src={bannerImage} alt="Right click raid banner" loading="eager"/>
</div>